Package Setup

Links: 

https://www.datagraphi.com/blog/post/2019/12/17/how-to-find-the-optimum-number-of-hidden-layers-and-nodes-in-a-neural-network-model

https://www.tidyverse.org/blog/2020/02/slider-0-1-0/

In [ ]:
import datetime
from packaging import version
from collections import Counter
import numpy as np
import pandas as pd
import time

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from sklearn.metrics import mean_squared_error as MSE

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [ ]:
%matplotlib inline
np.set_printoptions(precision=3, suppress=True)

Load Data

In [ ]:
training = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/all_data_training_normalized_1871_to_2010.csv")
validation = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/all_datavalidation_normalized_2011_to_2016.csv")
test = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/all_datatest_normalized_2017_to_2019.csv")

training["split"] = "Training"
validation["split"] = "Validation"
test["split"] = "Test"

In [ ]:
training

        playerID nameFirst  nameLast  ...  height       Age     split
0      aardsda01     David   Aardsma  ...   0.800  0.162791  Training
1      aardsda01     David   Aardsma  ...   0.800  0.209302  Training
2      aardsda01     David   Aardsma  ...   0.800  0.232558  Training
3      aardsda01     David   Aardsma  ...   0.800  0.255814  Training
4      aardsda01     David   Aardsma  ...   0.800  0.279070  Training
...          ...       ...       ...  ...     ...       ...       ...
88916  zuverge01    George  Zuverink  ...   0.825  0.441860  Training
88917  zwilldu01     Dutch  Zwilling  ...   0.575  0.139535  Training
88918  zwilldu01     Dutch  Zwilling  ...   0.575  0.232558  Training
88919  zwilldu01     Dutch  Zwilling  ...   0.575  0.255814  Training
88920  zwilldu01     Dutch  Zwilling  ...   0.575  0.279070  Training

[88921 rows x 38 columns]

In [ ]:
np.min(training["yearID"])

1871

In [ ]:
validation

       playerID nameFirst nameLast  ...  height       Age       split
0     aardsda01     David  Aardsma  ...   0.800  0.348837  Validation
1     aardsda01     David  Aardsma  ...   0.800  0.372093  Validation
2     aardsda01     David  Aardsma  ...   0.800  0.418605  Validation
3      abadfe01  Fernando     Abad  ...   0.775  0.232558  Validation
4      abadfe01  Fernando     Abad  ...   0.775  0.255814  Validation
...         ...       ...      ...  ...     ...       ...         ...
8600  zuninmi01      Mike   Zunino  ...   0.775  0.162791  Validation
8601  zuninmi01      Mike   Zunino  ...   0.775  0.186047  Validation
8602  zuninmi01      Mike   Zunino  ...   0.775  0.209302  Validation
8603   zychto01      Tony     Zych  ...   0.800  0.209302  Validation
8604   zychto01      Tony     Zych  ...   0.800  0.232558  Validation

[8605 rows x 38 columns]

In [ ]:
test

       playerID nameFirst nameLast  yearID  ...    weight height       Age  split
0      abadfe01  Fernando     Abad    2017  ...  0.666667  0.775  0.372093   Test
1      abadfe01  Fernando     Abad    2019  ...  0.666667  0.775  0.418605   Test
2     abreubr01     Bryan    Abreu    2019  ...  0.627451  0.750  0.139535   Test
3     abreujo02      Jose    Abreu    2017  ...  0.725490  0.800  0.325581   Test
4     abreujo02      Jose    Abreu    2018  ...  0.725490  0.800  0.348837   Test
...         ...       ...      ...     ...  ...       ...    ...       ...    ...
4589  zobribe01       Ben  Zobrist    2019  ...  0.568627  0.800  0.511628   Test
4590  zuninmi01      Mike   Zunino    2017  ...  0.666667  0.775  0.232558   Test
4591  zuninmi01      Mike   Zunino    2018  ...  0.666667  0.775  0.255814   Test
4592  zuninmi01      Mike   Zunino    2019  ...  0.666667  0.775  0.279070   Test
4593   zychto01      Tony     Zych    2017  ...  0.490196  0.800  0.255814   Test

[4594 rows x 38 columns]

One Hot Encoding

In [ ]:
all_data = pd.concat([training, validation, test])

char_categorical_vars = ["birthCountry", "birthState", "birthCity", "bats", "throws", "split"] # "playerID"

In [ ]:
all_dummies = pd.get_dummies(all_data[char_categorical_vars])

In [ ]:
def Perform_One_Hot_Encoding(dataset):

  char_dummies = pd.get_dummies(dataset[char_categorical_vars])
  birthMonth_dummies = pd.get_dummies(dataset["birthMonth"])
  season_number_dummies = pd.get_dummies(dataset["season_number"])

  return pd.concat([dataset.Points, dataset.Points_last_season, dataset.Points_2_season, dataset.Points_3_season, dataset.birthYear, dataset.weight, dataset.height, dataset.Age, char_dummies, birthMonth_dummies, season_number_dummies], axis=1)

In [ ]:
all_ready = Perform_One_Hot_Encoding(all_data)

training_ready = all_ready[all_ready["split_Training"] == 1]
validation_ready = all_ready[all_ready["split_Validation"] == 1]
test_ready = all_ready[all_ready["split_Test"] == 1]

In [ ]:
training_ready

       Points  Points_last_season  Points_2_season  ...  29  30  31
0         0.0                 0.0              0.0  ...   0   0   0
1         0.5                 0.0              0.0  ...   0   0   0
2         0.0                 0.5              0.0  ...   0   0   0
3        -1.0                 0.0              0.5  ...   0   0   0
4         0.0                -1.0              0.0  ...   0   0   0
...       ...                 ...              ...  ...  ..  ..  ..
88916     3.0                 9.5              6.0  ...   0   0   0
88917     0.0                 0.0              0.0  ...   0   0   0
88918     0.0                 0.0              0.0  ...   0   0   0
88919     0.0                 0.0              0.0  ...   0   0   0
88920     0.0                 0.0              0.0  ...   0   0   0

[88921 rows x 4977 columns]

Make sure no observations dropped

In [ ]:
assert training_ready.shape[0] == training.shape[0]
assert validation_ready.shape[0] == validation.shape[0]
assert test_ready.shape[0] == test.shape[0]

Make sure training, validation and test have same columns

In [ ]:
assert training_ready.shape[1] == validation_ready.shape[1]
assert validation_ready.shape[1] == test_ready.shape[1]
assert test_ready.shape[1] == training_ready.shape[1]

In [ ]:
training_x = training_ready.drop("Points", axis = 1)
training_y = training_ready["Points"]
val_x = validation_ready.drop("Points", axis = 1)
val_y = validation_ready["Points"]
test_x = test_ready.drop("Points", axis = 1)
test_y = test_ready["Points"]

In [ ]:
def Create_Num_Layers_And_Nodes(number_hidden_layers, number_input_nodes = training_x.shape[1], number_output_nodes = 1):

  nodes_increment = np.geomspace(number_input_nodes, number_output_nodes, num = number_hidden_layers, dtype='int')
  nodes_increment[0] = training_x.shape[1]
  nodes_increment[-1] = 1
  return nodes_increment.tolist()

  # return np.floor(nodes_increment)

In [ ]:
def Run_Model(hidden_layers_list):

  hidden_layers_list = hidden_layers_list[0:len(hidden_layers_list) - 1]

  model = models.Sequential()
  for i in range(1, len(hidden_layers_list)):

    if i == 1:
      model.add(layers.Dense(hidden_layers_list[1], activation='selu',
      input_shape=(training_x.shape[1],)))

    else: 
      model.add(layers.Dense(hidden_layers_list[i], activation='selu'))
      tf.keras.layers.Dropout(0.3)

  model.add(layers.Dense(1)) 
  return model

In [ ]:
nodes_4_layers = [[training_x.shape[1], 1024, 256, 64, 32, 1],
                  [training_x.shape[1], 2048, 256, 64, 32, 1],
                  [training_x.shape[1], 1024, 128, 64, 32, 1],
                  [training_x.shape[1], 256, 64, 32, 16, 1],
                  [training_x.shape[1], 1024, 128, 64, 4, 1]]

models_4_layers_list = [Run_Model(nodes_4_layers[i]) for i in range(0, len(nodes_4_layers))]

In [ ]:
train_mse = []
val_mse = []
test_mse = []
for current_model in models_4_layers_list:

  current_model.compile(optimizer=tf.keras.optimizers.Adam(1e-4)
              ,loss="mean_squared_error"
              ,metrics=['mean_squared_error'])
  
  current_model.summary()

  history = current_model.fit(training_x, training_y ,
                      epochs = 200 ,validation_data=(val_x, val_y)
                      ,callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_mean_squared_error', patience=2)]
                      )
  
  index = np.where(history.history.get("val_mean_squared_error") == np.min(history.history.get("val_mean_squared_error")))[0][0]
  train_mse.append(history.history.get("mean_squared_error")[index])
  val_mse.append(history.history.get("val_mean_squared_error")[index])
  test_mse.append(current_model.evaluate(test_x, test_y)[1])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1024)              5096448

 dense_1 (Dense)             (None, 256)               262400

 dense_2 (Dense)             (None, 64)                16448

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 1)                 33

=================================================================
Total params: 5,377,409
Trainable params: 5,377,409
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
2779/2779 [==============================] - 22s 8ms/step - loss: 11153.7754 - mean_squared_error: 11153.7754 - val_loss: 12957.3379 - val_mean_squared_error: 12957.3379
Epoch 2/200
2779/2779 [==============================] - 21s 7ms/step - loss: 10325.2656 - mean_squared_error: 10325.2656 - val_loss: 12954.9541 - val_mean_squared_error: 12954.9541
Epoch 3/200
2779/2779 [==============================] - 21s 7ms/step - loss: 10176.3086 - mean_squared_error: 10176.3086 - val_loss: 12731.7754 - val_mean_squared_error: 12731.7754
Epoch 4/200
2779/2779 [==============================] - 21s 7ms/step - loss: 10099.0283 - mean_squared_error: 10099.0283 - val_loss: 12825.7109 - val_mean_squared_error: 12825.7109
Epoch 5/200
2779/2779 [==============================] - 21s 7ms/step - loss: 10050.2832 - mean_squared_error: 10050.2832 - val_loss: 12856.7549 - val_mean_squared_error: 12856.7549
144/144 [==============================] - 1s 4ms/step - loss: 13763.5254 - mean_squared_error: 13763.5254
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 2048)              10192896

 dense_6 (Dense)             (None, 256)               524544

 dense_7 (Dense)             (None, 64)                16448

 dense_8 (Dense)             (None, 32)                2080

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 10,736,001
Trainable params: 10,736,001
Non-trainable params: 0
_________________________________________________________________

In [ ]:
pd.DataFrame({"Nodes": nodes_4_layers, "Training": train_mse, "Validation": val_mse, "Test": test_mse})

ValueError: ignored