Package Setup

Links: 

https://www.datagraphi.com/blog/post/2019/12/17/how-to-find-the-optimum-number-of-hidden-layers-and-nodes-in-a-neural-network-model

https://www.tidyverse.org/blog/2020/02/slider-0-1-0/

https://towardsdatascience.com/visualizing-keras-models-4d0063c8805e

In [ ]:
import datetime
from packaging import version
from collections import Counter
import numpy as np
import pandas as pd
import time

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from sklearn.metrics import mean_squared_error as MSE

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from keras_visualizer import visualizer

In [ ]:
%matplotlib inline
np.set_printoptions(precision=3, suppress=True)

Load Data

In [ ]:
training = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/5_lags_data_training_normalized_1961_to_2010.csv")
validation = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/5_lags_datavalidation_normalized_2011_to_2016.csv")
test = pd.read_csv("https://raw.githubusercontent.com/nateschor/Fantasy-Forecasting/main/data/intermediate/5_lags_datatest_normalized_2017_to_2019.csv")

training["split"] = "Training"
validation["split"] = "Validation"
test["split"] = "Test"

In [ ]:
training

        playerID nameFirst nameLast  ...    height       Age     split
0      aardsda01     David  Aardsma  ...  0.555556  0.121951  Training
1      aardsda01     David  Aardsma  ...  0.555556  0.170732  Training
2      aardsda01     David  Aardsma  ...  0.555556  0.195122  Training
3      aardsda01     David  Aardsma  ...  0.555556  0.219512  Training
4      aardsda01     David  Aardsma  ...  0.555556  0.243902  Training
...          ...       ...      ...  ...       ...       ...       ...
52938  zuvelpa01      Paul  Zuvella  ...  0.388889  0.243902  Training
52939  zuvelpa01      Paul  Zuvella  ...  0.388889  0.268293  Training
52940  zuvelpa01      Paul  Zuvella  ...  0.388889  0.292683  Training
52941  zuvelpa01      Paul  Zuvella  ...  0.388889  0.317073  Training
52942  zuvelpa01      Paul  Zuvella  ...  0.388889  0.365854  Training

[52943 rows x 40 columns]

In [ ]:
validation

       playerID nameFirst nameLast  ...    height       Age       split
0     aardsda01     David  Aardsma  ...  0.555556  0.317073  Validation
1     aardsda01     David  Aardsma  ...  0.555556  0.341463  Validation
2     aardsda01     David  Aardsma  ...  0.555556  0.390244  Validation
3      abadfe01  Fernando     Abad  ...  0.500000  0.195122  Validation
4      abadfe01  Fernando     Abad  ...  0.500000  0.219512  Validation
...         ...       ...      ...  ...       ...       ...         ...
8600  zuninmi01      Mike   Zunino  ...  0.500000  0.121951  Validation
8601  zuninmi01      Mike   Zunino  ...  0.500000  0.146341  Validation
8602  zuninmi01      Mike   Zunino  ...  0.500000  0.170732  Validation
8603   zychto01      Tony     Zych  ...  0.555556  0.170732  Validation
8604   zychto01      Tony     Zych  ...  0.555556  0.195122  Validation

[8605 rows x 40 columns]

In [ ]:
test

       playerID nameFirst nameLast  yearID  ...    weight    height       Age  split
0      abadfe01  Fernando     Abad    2017  ...  0.530387  0.500000  0.341463   Test
1      abadfe01  Fernando     Abad    2019  ...  0.530387  0.500000  0.390244   Test
2     abreubr01     Bryan    Abreu    2019  ...  0.475138  0.444444  0.097561   Test
3     abreujo02      Jose    Abreu    2017  ...  0.613260  0.555556  0.292683   Test
4     abreujo02      Jose    Abreu    2018  ...  0.613260  0.555556  0.317073   Test
...         ...       ...      ...     ...  ...       ...       ...       ...    ...
4589  zobribe01       Ben  Zobrist    2019  ...  0.392265  0.555556  0.487805   Test
4590  zuninmi01      Mike   Zunino    2017  ...  0.530387  0.500000  0.195122   Test
4591  zuninmi01      Mike   Zunino    2018  ...  0.530387  0.500000  0.219512   Test
4592  zuninmi01      Mike   Zunino    2019  ...  0.530387  0.500000  0.243902   Test
4593   zychto01      Tony     Zych    2017  ...  0.281768  0.555556  0.219512   Test

[4594 rows x 40 columns]

One Hot Encoding

In [ ]:
all_data = pd.concat([training, validation, test])

char_categorical_vars = ["birthCountry", "birthState", "birthCity", "bats", "throws", "split"] # "playerID"

In [ ]:
all_dummies = pd.get_dummies(all_data[char_categorical_vars])

In [ ]:
def Perform_One_Hot_Encoding(dataset):

  char_dummies = pd.get_dummies(dataset[char_categorical_vars])
  birthMonth_dummies = pd.get_dummies(dataset["birthMonth"])
  season_number_dummies = pd.get_dummies(dataset["season_number"])

  return pd.concat([dataset.Points, dataset.Points_last_season, dataset.Points_2_season, dataset.Points_3_season, dataset.birthYear, dataset.weight, dataset.height, dataset.Age, char_dummies, birthMonth_dummies, season_number_dummies], axis=1)

In [ ]:
all_ready = Perform_One_Hot_Encoding(all_data)

training_ready = all_ready[all_ready["split_Training"] == 1]
validation_ready = all_ready[all_ready["split_Validation"] == 1]
test_ready = all_ready[all_ready["split_Test"] == 1]

In [ ]:
training_ready

       Points  Points_last_season  Points_2_season  ...  27  28  29
0         0.0                 0.0              0.0  ...   0   0   0
1         0.5                 0.0              0.0  ...   0   0   0
2         0.0                 0.5              0.0  ...   0   0   0
3        -1.0                 0.0              0.5  ...   0   0   0
4         0.0                -1.0              0.0  ...   0   0   0
...       ...                 ...              ...  ...  ..  ..  ..
52938    21.0               171.0             17.0  ...   0   0   0
52939    14.0                21.0            171.0  ...   0   0   0
52940   104.5                14.0             21.0  ...   0   0   0
52941    59.5               104.5             14.0  ...   0   0   0
52942     0.0                59.5            104.5  ...   0   0   0

[52943 rows x 3018 columns]

Make sure no observations dropped

In [ ]:
assert training_ready.shape[0] == training.shape[0]
assert validation_ready.shape[0] == validation.shape[0]
assert test_ready.shape[0] == test.shape[0]

Make sure training, validation and test have same columns

In [ ]:
assert training_ready.shape[1] == validation_ready.shape[1]
assert validation_ready.shape[1] == test_ready.shape[1]
assert test_ready.shape[1] == training_ready.shape[1]

In [ ]:
training_x = training_ready.drop("Points", axis = 1)
training_y = training_ready["Points"]
val_x = validation_ready.drop("Points", axis = 1)
val_y = validation_ready["Points"]
test_x = test_ready.drop("Points", axis = 1)
test_y = test_ready["Points"]

In [ ]:
def Create_Num_Layers_And_Nodes(number_hidden_layers, number_input_nodes = training_x.shape[1], number_output_nodes = 1):

  nodes_increment = np.geomspace(number_input_nodes, number_output_nodes, num = number_hidden_layers, dtype='int')
  nodes_increment[0] = training_x.shape[1]
  nodes_increment[-1] = 1
  return nodes_increment.tolist()

  # return np.floor(nodes_increment)

In [ ]:
def Run_Model(hidden_layers_list):

  hidden_layers_list = hidden_layers_list[0:len(hidden_layers_list) - 1]

  model = models.Sequential()
  for i in range(1, len(hidden_layers_list)):

    if i == 1:
      model.add(layers.Dense(hidden_layers_list[1], activation='selu',
      input_shape=(training_x.shape[1],)))

    else: 
      model.add(layers.Dense(hidden_layers_list[i], activation='selu'))
      tf.keras.layers.Dropout(0.3)

  model.add(layers.Dense(1)) 
  return model

In [ ]:
nodes_4_layers = [[training_x.shape[1], 1024, 256, 64, 32, 1],
                  [training_x.shape[1], 2048, 256, 64, 32, 1],
                  [training_x.shape[1], 1024, 128, 64, 32, 1],
                  [training_x.shape[1], 256, 64, 32, 16, 1],
                  [training_x.shape[1], 1024, 128, 64, 4, 1]]

models_4_layers_list = [Run_Model(nodes_4_layers[i]) for i in range(0, len(nodes_4_layers))]

In [ ]:
train_mse = []
val_mse = []
test_mse = []
for current_model in models_4_layers_list:

  current_model.compile(optimizer=tf.keras.optimizers.Adam(1e-4)
              ,loss="mean_squared_error"
              ,metrics=['mean_squared_error'])
  
  current_model.summary()

  history = current_model.fit(training_x, training_y ,
                      epochs = 200 ,validation_data=(val_x, val_y)
                      ,callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_mean_squared_error', patience=2)]
                      )
  
  index = np.where(history.history.get("val_mean_squared_error") == np.min(history.history.get("val_mean_squared_error")))[0][0]
  train_mse.append(history.history.get("mean_squared_error")[index])
  val_mse.append(history.history.get("val_mean_squared_error")[index])
  test_mse.append(current_model.evaluate(test_x, test_y)[1])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1024)              3090432

 dense_1 (Dense)             (None, 256)               262400

 dense_2 (Dense)             (None, 64)                16448

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,371,393
Trainable params: 3,371,393
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
1655/1655 [==============================] - 14s 7ms/step - loss: 18053.3828 - mean_squared_error: 18053.3828 - val_loss: 12946.3994 - val_mean_squared_error: 12946.3994
Epoch 2/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16565.4707 - mean_squared_error: 16565.4707 - val_loss: 12780.9189 - val_mean_squared_error: 12780.9189
Epoch 3/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16380.3652 - mean_squared_error: 16380.3652 - val_loss: 12737.5791 - val_mean_squared_error: 12737.5791
Epoch 4/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16200.8496 - mean_squared_error: 16200.8496 - val_loss: 12771.0010 - val_mean_squared_error: 12771.0010
Epoch 5/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16082.0430 - mean_squared_error: 16082.0430 - val_loss: 12990.9277 - val_mean_squared_error: 12990.9277
144/144 [==============================] - 1s 4ms/step - loss: 13901.6582 - mean_squared_error: 13901.6582
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 2048)              6180864

 dense_6 (Dense)             (None, 256)               524544

 dense_7 (Dense)             (None, 64)                16448

 dense_8 (Dense)             (None, 32)                2080

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 6,723,969
Trainable params: 6,723,969
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
1655/1655 [==============================] - 15s 8ms/step - loss: 17559.7988 - mean_squared_error: 17559.7988 - val_loss: 12835.6123 - val_mean_squared_error: 12835.6123
Epoch 2/200
1655/1655 [==============================] - 14s 8ms/step - loss: 16546.9648 - mean_squared_error: 16546.9648 - val_loss: 12878.9346 - val_mean_squared_error: 12878.9346
Epoch 3/200
1655/1655 [==============================] - 14s 8ms/step - loss: 16345.2363 - mean_squared_error: 16345.2363 - val_loss: 12920.6338 - val_mean_squared_error: 12920.6338
144/144 [==============================] - 1s 4ms/step - loss: 13855.5840 - mean_squared_error: 13855.5840
Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 1024)              3090432

 dense_11 (Dense)            (None, 128)               131200

 dense_12 (Dense)            (None, 64)                8256

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 3,232,001
Trainable params: 3,232,001
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
1655/1655 [==============================] - 11s 6ms/step - loss: 18279.6094 - mean_squared_error: 18279.6094 - val_loss: 12890.2129 - val_mean_squared_error: 12890.2129
Epoch 2/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16623.0078 - mean_squared_error: 16623.0078 - val_loss: 12919.6953 - val_mean_squared_error: 12919.6953
Epoch 3/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16401.2910 - mean_squared_error: 16401.2910 - val_loss: 12911.5342 - val_mean_squared_error: 12911.5342
144/144 [==============================] - 1s 4ms/step - loss: 13796.4785 - mean_squared_error: 13796.4785
Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 256)               772608

 dense_16 (Dense)            (None, 64)                16448

 dense_17 (Dense)            (None, 32)                2080

 dense_18 (Dense)            (None, 16)                528

 dense_19 (Dense)            (None, 1)                 17

=================================================================
Total params: 791,681
Trainable params: 791,681
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
1655/1655 [==============================] - 9s 5ms/step - loss: 20990.0586 - mean_squared_error: 20990.0586 - val_loss: 13285.4688 - val_mean_squared_error: 13285.4688
Epoch 2/200
1655/1655 [==============================] - 9s 5ms/step - loss: 16792.4766 - mean_squared_error: 16792.4766 - val_loss: 12895.1533 - val_mean_squared_error: 12895.1533
Epoch 3/200
1655/1655 [==============================] - 9s 5ms/step - loss: 16615.4570 - mean_squared_error: 16615.4570 - val_loss: 12906.2578 - val_mean_squared_error: 12906.2578
Epoch 4/200
1655/1655 [==============================] - 8s 5ms/step - loss: 16469.2988 - mean_squared_error: 16469.2988 - val_loss: 12784.6484 - val_mean_squared_error: 12784.6484
Epoch 5/200
1655/1655 [==============================] - 8s 5ms/step - loss: 16342.9629 - mean_squared_error: 16342.9629 - val_loss: 13013.8672 - val_mean_squared_error: 13013.8672
Epoch 6/200
1655/1655 [==============================] - 8s 5ms/step - loss: 16232.8320 - mean_squared_error: 16232.8320 - val_loss: 12932.0176 - val_mean_squared_error: 12932.0176
144/144 [==============================] - 1s 4ms/step - loss: 13854.8877 - mean_squared_error: 13854.8877
Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 1024)              3090432

 dense_21 (Dense)            (None, 128)               131200

 dense_22 (Dense)            (None, 64)                8256

 dense_23 (Dense)            (None, 4)                 260

 dense_24 (Dense)            (None, 1)                 5

=================================================================
Total params: 3,230,153
Trainable params: 3,230,153
Non-trainable params: 0
_________________________________________________________________
Epoch 1/200
1655/1655 [==============================] - 12s 7ms/step - loss: 17554.8672 - mean_squared_error: 17554.8672 - val_loss: 13014.2178 - val_mean_squared_error: 13014.2178
Epoch 2/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16559.0137 - mean_squared_error: 16559.0137 - val_loss: 12884.6436 - val_mean_squared_error: 12884.6436
Epoch 3/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16349.1465 - mean_squared_error: 16349.1465 - val_loss: 13026.7373 - val_mean_squared_error: 13026.7373
Epoch 4/200
1655/1655 [==============================] - 11s 7ms/step - loss: 16199.7305 - mean_squared_error: 16199.7305 - val_loss: 12894.0732 - val_mean_squared_error: 12894.0732
144/144 [==============================] - 1s 4ms/step - loss: 13776.8164 - mean_squared_error: 13776.8164

In [ ]:
pd.DataFrame({"Nodes": nodes_4_layers, "Training": train_mse, "Validation": val_mse, "Test": test_mse})

                          Nodes      Training    Validation          Test
0  [3017, 1024, 256, 64, 32, 1]  16380.365234  12737.579102  13901.658203
1  [3017, 2048, 256, 64, 32, 1]  17559.798828  12835.612305  13855.583984
2  [3017, 1024, 128, 64, 32, 1]  18279.609375  12890.212891  13796.478516
3    [3017, 256, 64, 32, 16, 1]  16469.298828  12784.648438  13854.887695
4   [3017, 1024, 128, 64, 4, 1]  16559.013672  12884.643555  13776.816406

In [ ]:
pred_points = current_model.predict(val_x).tolist()

In [ ]:
validation["pred_points"] = pred_points = current_model.predict(val_x)

In [ ]:
validation["pred_points"] = pred_points

In [ ]:
validation.to_csv("validation_fitted.csv", index=False)

In [ ]:
visualizer(current_model, format='png', view=True)